<html>
  <head>
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  </head>
  <body>
   <div class="menu-header">
		<div class="menu-item">{{appName}}</div>
		<div class="menu-item"><a href="puzzles">Puzzles</a></div>
		<div class="menu-item"><a href="metas">Metas</a></div>
		<div class="menu-item"><a href="tagger">Tag Editor</a></div>
	</div>
    <div class="body-wrapper">
      <p>
        Check out the <a href="taskqueue">task queue</a>.
      </p>
      <form action="admin/refreshusers" method="post">
        <input type="submit" value="Refresh Users from Slack" />
      </form>
      <form action="admin/refreshallpuzzles" method="post">
        <input type="submit" value="Refresh All Puzzles" />
      </form>
      <form action="admin/publishhome" method="post">
        <input type="text" name="userId" placeholder="Slack user ID" />
        <input type="submit" value="Force Publish User Home" />
      </form>
      {{#if allowResetDatabase}}
        <form action="admin/resetdatabase" method="post">
          <button type="button" id="reset-database-check">I'm Sure I Want To Reset Database</button>
          <input type="submit" id="reset-database" value="Reset Database" disabled />
          <span>This will erase EVERYTHING!</span>
        </form>
      {{/if}}
    </div>
    <script>
      {{#if allowResetDatabase}}
        $("#reset-database-check").click(function() {
          $("#reset-database").attr("disabled", false);
        });
      {{/if}}
    </script>
  </body>
</html>
