<html>
  <head>
    <title>{{appName}}</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <div class="menu-header">
      <span class="menu-item">{{appName}}</span>
      <a href="puzzles"><span class="menu-item">Puzzles</span></a>
      <a href="metas"><span class="menu-item">Metas</span></a>
      <a href="tagger"><span class="menu-item">Tag Editor</span></a>
    </div>
    <div class="body-wrapper">
      <p>
        You're signed in as {{user.displayName}}. <a href="logout">Sign out</a>.
      </p>
      <p>
        Learn more about this app by <a href="{{helpUrl}}" target="_blank">reading the manual</a>.
      </p>
      {{#if isAdmin}}
      <p>
        You're an admin. Check out the <a href="admin">admin</a> page, but be careful!
      </p>
      {{/if}}
    </div>
  </body>
</html>