<html>
  <head>
    <title>Hunt Tracker</title>
  </head>
  <body>
    <p>
      Signed in as {{user.displayName}}. <a href="logout">Sign out</a>.
    </p>
    <p>
      Check out the <a href="puzzles">dashboard of all puzzles</a>.
    </p>
    <p>
      Check out the <a href="tagger">puzzle tagger</a>.
    </p>
  </body>
</html>