<html>
  <head>
    <title>{{appName}}</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <div class="menu-header">
		<div class="menu-item">{{appName}}</div>
		<div class="menu-item"><a href="puzzles">Puzzles</a></div>
		<div class="menu-item"><a href="metas">Metas</a></div>
		<div class="menu-item"><a href="tagger">Tag Editor</a></div>
	</div>
    <div class="body-wrapper">
      <p>
        You're signed in as {{user.displayName}}. <a href="logout">Sign out</a>.
      </p>
      <p>
        Learn more about this app by <a href="{{helpUrl}}" target="_blank">reading the manual</a>.
      </p>
      {{#if isAdmin}}
      <p>
        You're an admin. Check out the <a href="admin">admin</a> page, but be careful!
      </p>
      {{/if}}
    </div>
  </body>
</html>
