<!doctype html>
<html data-theme="light">
  <head>
    <title>{{appName}}</title>
    <link rel="icon" type="image/svg+xml" href="static/favicon.svg">
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    {{> menuheader index=true }}
    <div class="body-wrapper">
      <p>
        You're signed in as {{user.displayName}}. <a href="logout">Sign out</a>.
      </p>
      <p>
        Learn more about this app by <a href="{{helpUrl}}" target="_blank">reading the manual</a>.
      </p>
      <p>
        <form method="POST">
          <input
            type="checkbox"
            id="useSlackWebLinks"
            name="useSlackWebLinks"
            {{#if useSlackWebLinks}}checked{{/if}}
            onchange="this.form.submit()">
          <label for="useSlackWebLinks">
            Use Slack web app (https://) links instead of
            Slack native app (slack://) links for Slack channels
          </label>
        </form>
      </p>
      {{#if isAdmin}}
      <p>
        You're an admin. Check out the <a href="admin">admin</a> page, but be careful!
      </p>
      {{/if}}
    </div>
    <script type="text/javascript" charset="utf8" src="static/darkmode.js"></script>
  </body>
</html>
