<html>
  <head>
    <title>hunt tracker</title>
  </head>
  <body>
    <form action="/resetdatabase" method="post">
      <input type="submit" value="Reset Database" />
    </form>
    <form action="/refreshusers" method="post">
      <input type="submit" value="Refresh Users" />
    </form>
    <form action="/refreshallpuzzles" method="post">
      <input type="submit" value="Refresh All Puzzles" />
    </form>
    <form action="/publishhome" method="post">
      <input type="text" name="userId" placeholder="Slack user ID" />
      <input type="submit" value="Publish Home" />
    </form>
  </body>
</html>