<html>
  <head>
    <title>Task Queue</title>
  </head>
  <body>
    <form action="/taskqueue/process" method="POST">
      <input type="submit" value="Force Process Queue Now">
    </form>
    <table>
      {{#each tasks}}
        <tr>
          <td>{{id}}</td>
          <td>{{task_type}}</td>
          <td>{{payload}}</td>
          <td>
            <form action="/taskqueue/delete" method="POST">
              <input type="hidden" name="id" value="{{id}}">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      {{/each}}
    </table>
  </body>
</html>