body {
  font-family: sans-serif;
}

div.puzzles-table-filter-solved {
  color: #333;
  float: left;
  margin-top: 8px;
}

div.puzzles-table-filter-tags {
  width: 512px;
  float: right;
  margin-bottom: 8px;
}

select.wide-select {
  width: 100%;
}

td.details-control {
  background: url("https://datatables.net/examples/resources/details_open.png") no-repeat center center;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url("https://datatables.net/examples/resources/details_close.png") no-repeat center center;
}
td.details-control.complete {
  background-color: #70d070 !important;
}

td.answer {
  font-family: "Roboto Mono", monospace;
}

a.tag-link {
  line-height: 2em;
  padding: 4px;
  border: 1px solid black;
  border-radius: 4px;
  text-decoration: none;
  background-color: #ddd;
  color: #333;
}

a.tag-link:hover {
  background-color: #aaa;
}

table.task-queue-table {
  border: 1px solid black;
  border-collapse: collapse;
}

table.task-queue-table td {
  border: 1px solid black;
  border-collapse: collapse;
}