@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Mono:wght@500&display=swap');

html {
  --padding-base: 1.75rem;
  --meta-col: 2;

  --background-page: #eeeeee;
  --background-section: #ffffff;

  --background-header: linear-gradient(to bottom, #1e88e5, #1565c0);
  --background-header-solved: linear-gradient(to bottom, #7cb342, #558b2f);
  --background-header-emoji: #ffffff;

  --background-menu: #212121;
  --background-menu-selected: #bf360c;

  --background-puzzle-selected: #ffd54f;
  --background-puzzle-detail: #ffecb3;
  --background-puzzle-solved: hsla(100, 80%, 55%, 0.25);

  --background-tag-default: #004d40;
  --background-tag-metapuzzle: #0d47a1;
  --background-tag-inmeta: #616161;
  --background-tag-priority: #880e4f;
  
  --background-tag-hover: #bf360c;

  --background-dropdown: #00000055;

  --background-solver-activity-row-alternate: #ddd;

  --text-link: #21a0a0;
  --text-default: #000000;
  --text-deemphasised: #333333;

  --text-header: #ffffff;
  --text-header-hover: #ffd54f;

  --text-menu: #ffffff;

  --text-puzzle: #1976d2;

  --text-tag: #ffffff;

  --icon-fill: #000a;

  --special-color: #0002;
  --section-shadow: 4px 6px 8px -2px var(--special-color);
  --section-delineate: 1px solid var(--special-color);
}

html[data-theme="dark"] {
  --background-page: #111111;
  --background-section: #212121;

  --background-header: linear-gradient(to bottom, #405977, #32455D);
  --background-header-solved: linear-gradient(to bottom, #2e7d32, #1b5e20);
  --background-header-emoji: #ffffff;

  --background-menu: #212121;
  --background-menu-selected: #bf360c;

  --background-puzzle-selected: #212121;
  --background-puzzle-detail: #424242;

  --background-dropdown: #ffffff55;

  --background-solver-activity-row-alternate: #333;

  --text-link: #000000;
  --text-default: #ffffff;
  --text-deemphasised: #dddddd;

  --text-header: #ffffff;
  --text-header-hover: #ffd54f;

  --text-menu: #ffffff;

  --text-puzzle: #b3e5fc;

  --text-tag: #e0e0e0;
  --text-tag-inmeta: #000000;

  --icon-fill: #fffc;

  --special-color: #ffffff44;
  --section-shadow: none;
}

@media screen and (min-width: 1300px){
  html {
    --meta-col: 3;
  }
}

@media screen and (min-width: 2400px){
  html {
    --meta-col: 4;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: var(--background-page);
  color: var(--text-default);
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 100vh;
}

div.body-wrapper {
  padding: calc(var(--padding-base) / 4) calc(var(--padding-base) * 1);
}

div.puzzle-filters {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0.5em 0;
}

div.filter-solved {
  color: var(--text-deemphasised);
  width: 20rem;
  align-self: center;
}

div.filter-tags {
  width: 30rem;
}

select.wide-select {
  width: 100%;
}

table.dataTable thead th {
  background: var(--background-header);
  color: white;
}

table.dataTable thead th.icon-column,
table.dataTable thead th.emoji-column,
table.dataTable thead th.details-control {
  padding-inline: 0.2rem;
  width: 2rem;
}

table.dataTable.no-footer {
  box-shadow: var(--section-shadow);
}

table.dataTable thead .sorting::after {
  content: ' ◦';
}
table.dataTable thead .sorting_asc::after {
  content: ' ▾';
}
table.dataTable thead .sorting_desc::after {
  content: ' ▴';
}

table.dataTable tbody tr {
  background-color: var(--background-section);
}
table.dataTable tbody tr.complete,
div.puzzle-complete {
  background-color: var(--background-puzzle-solved);
}

table.dataTable tbody td {
  border-top: var(--section-delineate) !important;
}
td.details-control {
  cursor: pointer;
  width: 3rem;
}
td.details-control:before {
  display: block;
  content: ' ';
  width: 0.9rem;
  height: 0.9rem;
  margin-left: 0.5rem;
  clip-path: polygon(50% 80%, 100% 35%, 85% 20%, 50% 55%, 15% 20%, 0% 35%);
  background-color: var(--background-dropdown);
}
tr.shown td.details-control:before {
  clip-path: polygon(50% 20%, 100% 65%, 85% 80%, 50% 45%, 15% 80%, 0% 65%);
}

tr.shown {
  background-color: var(--background-puzzle-selected) !important;
}
tr.shown a {
  font-weight: bold;
}
tr.shown a.tag-link {
  font-weight: normal;
}
tr.shown + tr {
  background: var(--background-puzzle-detail) !important;
}

table.puzzleDetails {
  padding-left: 3em;
  border-spacing: 0;
}

table.puzzleDetails tr {
  background: #fff0 !important;
}

table.puzzleDetails .icon {
  fill: var(--icon-fill);
}

img.emoji {
  aspect-ratio: 1 / 1;
  width: 1.25rem;
}

td.icon-column,
td.emoji-column {
  margin: 0;
  padding: 0 0.2rem !important;
  text-align: center;
}

td.location {
  text-align: center;
}

td.answer,
div.answer,
span.answer {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 0.9em;
  text-transform: uppercase;
}

td.answer:hover,
div.answer:hover,
span.answer:hover {
  text-transform: none;
}

td.hidden-answer,
div.hidden-answer,
span.hidden-answer {
  color: transparent;
}

td.idle-column {
  text-align: right;
}

a {
  text-decoration: none;
  color: var(--text-puzzle);
}

a.tag-link {
  line-height: 2em;
  padding: 0.2em 0.6em;
  border-radius: 0.25em;
  text-decoration: none;
  background: var(--background-tag-default);
  color: var(--text-tag);
  font-size: 0.85em;
  white-space: nowrap;
}

a.tag-link[class*="meta/"] {
  background-color: var(--background-tag-metapuzzle);
}
a.tag-link[class*="in/"] {
  background-color: var(--background-tag-inmeta);
}
a.tag-link[class*="priority/"] {
  background-color: var(--background-tag-priority);
}

a.tag-link:hover {
  background: var(--background-tag-hover);
}

table.task-queue-table {
  border: 1px solid black;
  border-collapse: collapse;
}

table.task-queue-table td {
  border: 1px solid black;
  border-collapse: collapse;
}

div.meta-view-wrapper {
  display: grid;
  grid-template-columns: repeat(var(--meta-col), 1fr);
  grid-gap: var(--padding-base);
}

div.meta-view {
  display: grid;
  grid-template-columns: auto minmax(min-content, 1fr) 1.2fr max-content;
  align-self: start;

  box-shadow: var(--section-shadow);
  background: var(--background-section);
  border-radius: 0.4rem;
}
div.meta-header {
  font-size: 1.1em;
  background: var(--background-header);
  padding: 0.6em 1em;
  line-height: 1.4em;
}
div.meta-header :not(div.hidden-answer) {
  color: var(--text-header);
}
div.meta-complete .meta-header {
  background: var(--background-header-solved);
}
div.meta-header.emoji img,
div.meta-puzzle.emoji img {
  width: 1.25rem;
  padding: 0.125rem;
}
div.meta-header.emoji img {
  background-color: var(--background-header-emoji);
  border-radius: 0.25rem;
}
div.meta-header.emoji,
div.meta-puzzle.emoji {
  padding-right: 0;
}
div.meta-header.title a {
  color: var(--text-header);
  font-weight: bold;
}
a.meta-link {
  text-decoration: underline;
}
a:hover.meta-link {
  color: var(--text-header-hover) !important;
}

div.meta-puzzle {
  display: flex;
  line-height: 1.8em;
  padding: 0.2em 1em;

  align-items: center;
  border-top: var(--section-delineate);
}

.meta-puzzle.answer {
  grid-column: span 2;
}

div.menu-header {
  background: var(--background-menu);
  display: flex;
  margin: 0;
  padding: calc(var(--padding-base) / 8) 0;
  font-size: 1.1em;
  flex-wrap: nowrap;
  align-items: center;
  color: var(--text-menu);
  flex-direction: column;
  gap: calc(var(--padding-base) / 4);
}

div.menu-item {
  padding: 0.4rem calc(var(--padding-base) / 2);
  user-select: none;
  white-space: nowrap;
}

div.menu-item svg, div.menu-item img {
  height: 1.5rem;
  aspect-ratio: 1 / 1;
  fill: var(--text-menu);
  position: relative;
}
div.menu-item a span {
  font-size: 0.75rem;
}

div.menu-item button {
  background-color: var(--background-menu);
  fill: var(--text-menu);
  border: none;
}

div.menu-item button:hover svg {
  fill: var(--background-menu-selected);
}

div.menu-item span.app-name {
  text-wrap: wrap;
  text-align: center;
}

div.menu-selected {
  background: var(--background-menu-selected);
  font-weight: 700;
}

div.menu-header a,
div.menu-header a:visited {
  color: var(--text-menu);
  height: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  gap: calc(var(--padding-base) / 4);
}


div.meta-header.dashboard {
  padding: 0.6em 0;
}
div.meta-header-icons {
  padding: 0.6em 0.75em;
}

div.meta-dashboard-icon {
  display: inline-block;
  width: 1.5em;
  vertical-align: middle;
}

.icon {
  display: inline-block;
  height: 1.35em;
  aspect-ratio: 1 / 1;
  stroke-width: 0;
  stroke: currentColor;
  fill: var(--icon-fill);
  transition: 0.1s fill;
  position: relative;
  top: 0.125em;
}
.icon-link:hover {
  fill: #4285F4;
}
.icon-slack:hover {
  fill: #ECB22E;
}
.icon-huddle:hover {
  fill: #0F9D58;
}
.icon-sheet:hover {
  fill: #0F9D58;
}
.icon-drawing:hover {
  fill: #DB4437;
}
.meta-header-icons .icon {
  fill: var(--text-header);
}
.meta-header-icons .icon:hover {
  fill: var(--text-header-hover);
}

.icon-idle,
.icon-tags,
.icon-topic,
.icon-location {
  fill: var(--text-header);
}

table.location {
  width: 100%;
  border-spacing: 0;

  box-shadow: var(--section-shadow);
  background: var(--background-section);
  border-radius: 0.4rem;
}

table.location thead th {
  font-size: 1.1em;
  background: var(--background-header);
  padding: calc(var(--padding-base) / 2);
  color: var(--text-header);
  line-height: 1.4em;
}

table.location thead th:nth-child(n+2) {
  text-align: left;
}

table.location tbody tr td {
  padding: calc(var(--padding-base) / 4) calc(var(--padding-base) / 2);
}

table.location tbody td {
  border-top: var(--section-delineate);
}

table.location tbody tr td:first-child {
  text-align: center;
}

table.location tbody tr td span.solver-name {
  white-space: nowrap;
}

table.location tbody tr td form {
  margin:0;
}

th.emoji-column,
td.emoji-column {
  width: 1.5rem;
  padding: 0 !important;
  text-align: center;
}
table.location th.icon-column,
table.location td.icon-column {
  width: 2.5rem;
  padding: 0 !important;
  text-align: center;
}

table.solver-activity {
  border: none;
  border-collapse: collapse;
}
table.solver-activity thead th {
  font-size: 1.1em;
  background: var(--background-header);
  padding: calc(var(--padding-base) / 2);
  color: var(--text-header);
  line-height: 1.4em;
}
table.solver-activity tr:nth-child(even) {
  background-color: var(--background-solver-activity-row-alternate);
}
table.solver-activity td {
  padding-top: 4px;
  padding-right: 16px;
  padding-bottom: 4px;
  padding-left: 16px;
}

[data-theme="dark"] .select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: var(--background-puzzle-selected);
  color: var(--text-menu);
}

[data-theme="dark"] .select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: var(--background-puzzle-selected);
  color: var(--text-menu);
}

[data-theme="dark"] .select2-results__option {
  color: var(--background-puzzle-selected);
}

[data-theme="dark"] .select2-selection__clear {
  color: var(--background-page);
}

[data-theme="dark"] .dataTables_filter {
  color: var(--text-header);
}

[data-theme="dark"] #puzzles-table_info {
  color: var(--text-deemphasised);
}

@media (orientation: portrait) {
  body {
    grid-template-rows: min-content 1fr;
    grid-template-columns: 100vw;
  }
  div.menu-header {
    flex-direction: row;
  }
  div.menu-item a {
    grid-template-columns: min-content 1fr;
    justify-content: center;
  }
  div.menu-item a svg,
  div.menu-item a img,
  div.menu-item a span {
    top: 0;
    justify-self: center;
    align-self: center;
  }
}

@media (orientation: landscape) {
  body {
    grid-template-rows: 100vh;
    grid-template-columns: min-content 1fr;
  }
  div.menu-header {
    flex-direction: column;
  }
  div.menu-item a {
    grid-template-rows: min-content 1fr;
    justify-content: center;
  }
  div.menu-item a svg,
  div.menu-item a img,
  div.menu-item a span {
    top: 0;
    justify-self: center;
    align-self: center;
  }
}

table.tag-documentation th {
  text-align: left;
  padding: 0.5rem;
}

table.tag-documentation td {
  padding: 0.5rem;
  vertical-align: top;
}

table.tag-documentation td:nth-child(2) {
  width: 30rem;
  white-space: normal;
}
